
	body {
    margin:0px;
    }
	
    #bar {
    width: auto;
    height: 70px;
    background-color: rgb(81, 154, 226);
    color: rgb(255, 255, 255);
    font-family: 'saira', cursive;
    font-size: 2.4em;
	text-align: center;
	line-height: 70px;
	text-decoration: none;
    }
	
	#logo:hover {
	text-decoration: underline;
	}
	
	#pre-expl {
	font-size: 0.75em;
	color: rgb(81, 154, 226);
	}
	
	#expl {
	position: relative;
	color: rgb(245, 118, 0);
	font-size: 2.3em;
	font-family: 'saira', arial;
	width: 90%;
	margin: auto;
	text-align: center;
	top: 5px;
	}
	
	#sub-expl {
	color: black;
	color: rgba(0, 0, 0, 0.9);
	font-family: 'roboto', arial;
	font-size: 0.55em;
	}
	
	
	.header {
	display: inline-block;
	position: relative;
	background-color: rgb(81, 154, 226);
	font-size: 2.3em;
	height: 100px;
	color: white;
	font-family: 'saira', arial;
	text-shadow: 2px 2px #2280dd;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	top: 60px;
    -webkit-box-shadow: 0px 12px 60px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 60px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 60px -17px rgba(0,0,0,0.75);
	z-index: 1;
	line-height: 100px;
	}
	
	.header:hover {
	text-decoration: underline;
	} 
	
	#container {
	text-align: center;
	width: 100%;
	}
	
	.option-container {
	display: inline-block;
	width: 250px;
	margin: 22px 22px 100px 22px;
	}
	
	.info-container {
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
	height: 20%;
	}
	
	.option-info {
	display: none;
	position: relative;
	width: 80%;
	font-family: 'roboto', arial;
	font-size: 1.3em;
	text-align:  center;
	color: black;
	color: rgba(0, 0, 0, 0.9);
	margin: auto;
	top: 90px;
	}
	
	#next {
	top: 30px;
	position: relative;
	margin: auto;
	font-size: 0.9em;
    font-family: 'Saira', arial;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(245, 118, 0); 
	border-radius: 5px;
	box-shadow: 1px 1px #cc6300;
	width: 280px;
	color: #ffa34d;
	cursor: default;
	}
	
	#link {
	cursor: default;
	}
	
	#next-disc {
	font-family: 'roboto', arial;
	font-size: 0.5em;
	position: relative;
	width: 90%;
	margin: auto;
	top: 50px;
	}
	
	a {
	color: inherit;
	text-decoration: inherit;
	}
	
    .fa {
	position: relative;
	top: 10px;
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }
	
    .fa:hover {
    opacity: 0.7;
    }

    .fa-facebook {
	display: block;
    background: #999999;
    color: white;
	height: 15px;
	width: 15px;
    }
    .fa-twitter {
	display: block;
    background: #999999;
    color: white;
	height: 15px;
	width: 15px;
	margin-right: 25px;
	margin-left: 25px;
    }
	.fa-instagram {
	display: block;
    background: #999999;
    color: white;
	height: 15px;
	width: 15px;
    }
	
	#cta {
    position: relative;
	font-size: 1.5em;
	font-family: 'saira', arial;
	color: rgb(81, 154, 226);
	top: 5px;
	width: 50%;
	margin: auto;
	text-align: center;
	}
	
	footer {
	position: absolute;
	background-color: rgb(230, 230, 230);
	height: 130px;
	width: 100%;
	bottom: 0;
	}
	
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	
	li {
	display: inline;
	}
	
    #footer {
    width: 225px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    }
	
	h1, h2 {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
	}