
	body {
    margin:0px;
	overflow-y: scroll;
    }
	
    #bar {
    width: auto;
    height: 70px;
    background-color: rgb(68, 157, 245);
    color: rgb(255, 255, 255);
    font-family: 'saira', cursive;
    font-size: 2.4em;
	text-align: center;
	line-height: 70px;
	text-decoration: none;
    }
	
	#logo:hover {
	text-decoration: underline;
	}
	
	#pre-expl {
	font-family: 'Open sans', arial;
	font-size: 0.5em;
	color: black;
	color: rgba(0, 0, 0, 0.9);
	font-weight: normal;
	}
	
	#expl {
	position: relative;
	color: rgb(245, 118, 0);
	font-size: 2.5em;
	font-family: 'saira', arial;
	width: 90%;
	margin: auto;
	text-align: center;
	top: 10px;
	}
	
	.header {
	display: inline-block;
	position: relative;
	background-color: rgb(68, 157, 245);
	font-size: 2.5em;
	height: 100px;
	color: white;
	font-family: 'saira', arial;
	text-shadow: 2px 2px #2280dd;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	top: 60px;
	box-shadow: 4px 4px #0d80f2;
    border-radius: 5px;
	z-index: 1;
	line-height: 100px;
	cursor: pointer;
	}
	
	.header:hover {
	text-decoration: underline;
	} 
	
	#container {
	position: relative;
	text-align: center;
	width: 100%;
	top: 20px;
	}
	
	.option-container {
	display: inline-block;
	width: 250px;
	margin: 22px 22px 22px 22px;
	}
	
	#info-disc1 {
	display: none;
	color: rgb(68, 157, 245);
	}
	
	#info-disc2 {
	display: none;
	color: rgb(68, 157, 245);
	}
	
	#info-disc3 {
	display: none;
	color: rgb(68, 157, 245);
	}
	
	#info-disc4 {
	display: none;
	color: rgb(68, 157, 245);
	}
	
	.info-container {
	display: block;
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
	height: 20%;
	}
	
	.option-info {
	display: block;
	position: relative;
	width: 80%;
	font-family: 'Open sans', arial;
	font-size: 1.3em;
	text-align:  center;
	color: black;
	color: rgba(0, 0, 0, 0.9);
	margin: auto;
	top: 90px;
	z-index: 1;
	opacity: 0;
	}
	
	.highlight {
	color: rgb(68, 157, 245);
	}
	
	#next {
	top: 30px;
	position: relative;
	margin: auto;
	font-size: 0.8em;
    font-family: 'Saira', arial;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(245, 118, 0); 
	border-radius: 5px;
	box-shadow: 1px 1px #cc6300;
	width: 290px;
	color: #ffa34d;
	cursor: default;
	}
	
	#link {
	cursor: default;
	}
	
	#next-disc {
	font-family: 'Open sans', arial;
	font-size: 0.5em;
	position: relative;
	width: 90%;
	margin: auto;
	top: 50px;
	color: black;
	color: rgba(0, 0, 0, 0.9);
	font-weight: normal;
	}
	
	a {
	color: inherit;
	text-decoration: inherit;
	}
	
	h1, h2 {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
	}
	
	footer {
	height: 50px;
	}
	
	.mobile {
	display: none;
	color: rgb(68, 157, 245);
	}
	
	@media (max-width:800px) {
	.mobile {
	display: inline-block;	
	    }
	}