
	body {
		margin:0px;
    }
	
    #bar {
		width: auto;
		height: 80px;
		background-color: rgb(68, 157, 245);
		color: rgb(255, 255, 255);
		font-family: 'saira', cursive;
		font-size: 2.4em;
		text-align: center;
		line-height: 70px;
		text-decoration: none;
    }
	
	#header-cont {
		text-align: center;
	}
	
	#main {
		overflow: hidden;
		height: 90%;
		position: absolute;
		top: 30%;
		height: 70%;
		width: 100%;
	}
	
	#header {
		width: 300px;
		margin: auto;
		position: relative;
		text-align: center;
	}
	
	a {
		color: inherit;
		text-decoration: none;
		margin: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		display: inline;
		font-size: inherit;
		font-weight: inherit;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		text-align: center;
	}
	
	.sample {
		position: absolute;
		margin: 0;
		height: 115%;
		bottom: 100px;
		transform: rotate(7deg);
		bottom: -3%;
		float: left;
		padding-left: 100px;
		left: -100px;
	}
	
	#sample1 {
		z-index: 4;
		background-color: blue;
		width: 23%;
	}
	
	#sample2 {
		z-index: 3;
		background-color: green;
		width: 48%;
	}
	
	#sample3 {
		z-index: 2;
		background-color: red;
		width: 74%;
		bottom: 1%;
	}
	
	#sample4 {
		z-index: 1;
		background-color: yellow;
		width: 100%;
		bottom: 3%;
		left: 100px;
	}