	
	body {
     margin: 0px 0px 0px 0px;
    }
	
	/* Sorry about the mess... */
	
	.ultra-main {
	}
	
    .bar {
	position: relative;
    width: auto;
    height: 70px;
    background-color: rgb(81, 154, 226);
    color: rgb(255, 255, 255);
    font-family: 'saira', cursive;
    font-size: 2.4em;
	text-align: center;
	line-height: 70px;
    }
    
    .super-main-right {
    position: relative;   
	margin: auto;
	width: 90%;
	bottom: 80px;
	height: 10px;
    }

    .main {
    text-transform: uppercase;
    margin: auto;
    width: 60%;
    position: relative;
    font-family: 'Saira', arial;
    font-size: 2.5em;
    top: 3.5em;
    line-height: 1.5em;
    color: rgb(245, 118, 0);
	font-weight: bold;
	text-align: center;
    }
    
    .pre-list {
    position: relative;
    font-family: 'Saira', arial;
    font-size: 1.2em;
    color: rgb(81, 154, 226);
    top: 7em;
	text-align: center;
	width: 100%;
	margin: auto;
	text-transform: uppercase;
    }
    
    .button {
    margin: auto;
    width: 33%;
    position: relative;
    top: 4em;
    font-size: 2.5em;
    font-family: 'Saira', arial;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(245, 118, 0); 
	border-radius: 5px;
	box-shadow: 4px 4px #cc6300;
    }
	
	.button:hover {
    box-shadow: 3px 3px #cc6300;
	}
	
	.button:active {
	box-shadow: 1px 1px #cc6300;
	}
    
    a {
    color: white;   
	text-decoration: none;
    }
	
	.fb-like {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	}
	
	#what {
	margin: auto;
	position: relative;
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 0.8);
	font-family: 'roboto', arial;
	width: 100%;
	text-align: center;
	top: 6.5em;
	font-size: 1.3em;
	}
	
	#fb-margin {
    position: relative;
    padding: 0;
    padding-top: 55px;
	top: 10em;
	}
	
	h1 {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
	}
	
	h2 {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
	}
	
	.fa {
	position: relative;
	top: 10px;
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }
	
    .fa:hover {
    opacity: 0.7;
    }

    .fa-facebook {
	display: block;
    background: #999999;
    color: white;
	height: 15px;
	width: 15px;
    }
    .fa-twitter {
	display: block;
    background: #999999;
    color: white;
	height: 15px;
	width: 15px;
	margin-right: 25px;
	margin-left: 25px;
    }
	.fa-instagram {
	display: block;
    background: #999999;
    color: white;
	height: 15px;
	width: 15px;
    }
	
	#cta {
    position: relative;
	font-size: 1.5em;
	font-family: 'saira', arial;
	color: rgb(81, 154, 226);
	top: 5px;
	width: 50%;
	margin: auto;
	text-align: center;
	}
	
	footer {
	position: absolute;
	background-color: rgb(230, 230, 230);
	height: 130px;
	width: 100%;
	bottom: 0;
	}
	
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	
	li {
	display: inline;
	}
	
    #footer {
    width: 225px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    }
	
	#logo:hover {
	text-decoration: underline;
	}