

 .bar {
     width: auto;
     height: 50px;
     background-color: rgb(81, 154, 226);
     color: rgb(255, 255, 255);
     font-family: 'Pacifico', cursive;
     font-size: 1.8em;
    }
    
    .thx {
     font-size: 3em;
     position: relative;
     top: 0.5em;
     text-transform: uppercase;
     font-family: 'Mukta Mahee', sans-serif;
     color: rgb(245, 118, 0);
    }
    
    .info {
     font-family: 'Saira', sans-serif;
     margin: auto;
     width: 650px;
     position: relative;
     top: 1.9em;
     line-height: 3em;
    }

    .list-head {
     font-family: 'Saira', sans-serif;
     color: rgb(81, 154, 226);
     font-size: 1.2em;
    }
    
    .list {
     margin: auto;
     width: 590px;
     font-family: 'Saira', sans-serif;
     background-color: rgb(81, 154, 226);
     color: rgb(255, 255, 255);
     border-radius: 10px;
     font-size: 1.2em;
    }
    
    .bold {
     display: inline;
     font-family: 'Saira', sans-serif;
     text-decoration: underline;
    }
    
    .bottom-container {
     position: relative;
     top: 5em;
    }
    
    .bottom {
     margin: auto;
     width: 90%;
     position: relative;
     top: 2em;
     font-family: 'Saira', sans-serif;
     font-size: 2em;
     color: rgb(81, 154, 226);
    }
    
    .bottom-disc {
     position: relative;
     top: 4em;
     font-size: 0.9em;
     font-family: 'Roboto', sans-serif;    
     color: rgb(0, 0, 0);
     color: rgba(0, 0, 0, 0.75);
    }
    
       @media only screen and (orientation: portrait) and (max-width: 500px) {
     .bar {
     height: 75px;
     font-size: 3.3em;
    } 

    .thx {
     font-size: 3.5em;
    }

    .bottom-disc {
     font-size: 1.1em;
    }
    }