    body {
     margin: 0px 0px 0px 0px;
    }
 
    .bar {
     width: auto;
     height: 55px;
     background-color: rgb(81, 154, 226);
     color: rgb(255, 255, 255);
     font-family: 'Lobster', cursive;
     font-size: 2.4em;
    }
    
    .intro {
     position: relative;
     top: 3em;
     margin: auto;
     width:49%;
     float: left;
     font-size: 2.1em;
     font-family: 'saira', sans-serif;
     color: rgb(81, 154, 226);
     text-align: center;
    }
    
    .super-main-left {
     margin: auto;
     width: 100%;
     position: absolute;
     float: left;
     background-image: url("https://static.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 55em;
    }
    
    .super-main-right {
     position: relative;
     right: 30px;
     float: right;    
    }

.main {
     text-transform: uppercase;
     margin: auto;
     width: 100%;
     position: relative;
     font-family: 'Saira', sans-serif;
     font-size: 1.8em;
     top: 1.5em;
     line-height: 1.5em;
     color: rgb(245, 118, 0);
    }
    
    
    .sub-main {
     margin: auto;
     width: auto;
     position: relative;
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
     top: 2.6em;
     color: rgb(0, 0, 0);
    }
    
    .pre-list {
     position: relative;
     font-family: 'Saira', sans-serif;
     font-size: 1.5em;
     color: rgb(81, 154, 226);
     top: 4em;
    }
    
    .list1 {
     margin: auto;
     width: 99%;
     position: relative;
     font-family: 'Saira', sans-serif;
     font-size: 1em;
     color: rgb(255, 255, 255);
     top: 5em;
     background-color: rgb(81, 154, 226);
     border-radius: 10px;
     line-height: 2.5em;
    }
    
    .list2 {
     margin: auto;
     width: 99%;
     position: relative;
     font-family: 'Saira', sans-serif;
     font-size: 1em;
     color: rgb(255, 255, 255);
     top: 5em;
     background-color: rgb(81, 154, 226);
     border-radius: 10px;
     line-height: 2.5em;
    }
    
    
    .list3 {
     margin: auto;
     width: 99%;
     position: relative;
     font-family: 'Saira', sans-serif;
     font-size: 1em;
     color: rgb(255, 255, 255);
     top: 5em;
     background-color: rgb(81, 154, 226);
     border-radius: 10px;
     line-height: 2.5em;
    }
    
    .list-disc {
     font-family: 'Roboto', sans-serif;
     position: relative;
     top: 6em;
    }
    
    .list {
     font-size: 1em;
    }
    
    .button {
     margin: auto;
     width: 223px;
     position: relative;
     top:4em;
     font-size: 2em;
     color: rgb(81, 154, 226);
     font-family: 'Saira', sans-serif;
    }
    
    a {
    color: rgb(245, 118, 0);   
    }
    
    @media only screen and (orientation: portrait) and (max-width: 480px) {
     .bar {
     height: 100px;
     font-size: 3.7em;
    }    
    }