

 .bar {
     width: auto;
     height: 55px;
     background-color: rgb(81, 154, 226);
     color: rgb(255, 255, 255);
     font-family: 'Lobster', cursive;
     font-size: 2.4em;
    }
    
    .main {
     font-family: 'Saira', sans-serif;
     color: rgb(245, 118, 0);
     font-size: 1.1em;
    }
    
    .intro-head {
     font-size: 1.1em;   
    }
    
    .intro {
     margin: auto;
<<<<<<< HEAD
     width: 80%;
     position: relative;
     top: 1em;
     font-family: 'Saira', sans-serif;
     font-size: 2em;
     color: rgb(81, 154, 226);
     font-weight: 600;
=======
     width: 90%;
     position: relative;
     top: 2em;
     font-family: 'Saira', sans-serif;
     font-size: 2em;
     color: rgb(81, 154, 226);
>>>>>>> bbad7c65c593f5a0bc7778d70be1522e26cda11d
    }
    
    .intro-end {
     position: relative;
     top: 1em;
     font-size: 0.9em;
    }
    
<<<<<<< HEAD
    .intro-disc {
    position: relative;
    top: 4em;
    font-family: 'roboto', sans-serif;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
    }
    
=======
>>>>>>> bbad7c65c593f5a0bc7778d70be1522e26cda11d
    .disc {
     font-size: 0.8em;    
    }
    
    .qna {
     position: relative;
     top: 10em;
    }
    
   .q {
     position: relative;
     top: 1em;
     font-family: 'dosis', sans-serif;
<<<<<<< HEAD
     font-size: 1.6em;
=======
     font-size: 1.4em;
>>>>>>> bbad7c65c593f5a0bc7778d70be1522e26cda11d
     color: rgb(81, 154, 226);
    }
    
    .a {    
     margin: auto;
     width: 60%;
     font-family: 'roboto', sans-serif;
     color: rgb(0, 0, 0);
<<<<<<< HEAD
     color: rgba(0, 0, 0, 0.6);
     font-size: 1.1em;
=======
     color: rgba(0, 0, 0, 0.7);
>>>>>>> bbad7c65c593f5a0bc7778d70be1522e26cda11d
    }
    
    .qna1 {
     position: relative;
     top: 2em;
    }
    
     .qna2 {
     position: relative;
<<<<<<< HEAD
     top: 7em
    }
    
     .qna3 {
     position: relative;
     top: 11em
    }
    
=======
     top: 8em
    }
    
     .qna3 {
     position: relative;
     top: 11em
    }
    
>>>>>>> bbad7c65c593f5a0bc7778d70be1522e26cda11d
    .cta {
     margin: auto;
     width: 60%;
     position: relative;   
     top: 17em;
     font-size: 1.3em;
     font-family: 'roboto', sans-serif;
     color: rgb(81, 154, 226);
    }